<section id="food-menu">
    <h2>Thực đơn</h2>

    <div class="form-reservations">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Tên món</th>
                    <th>Danh mục</th>
                    <th>Gía</th>
                    <th>Số lượng</th>
                    <th>Thêm vào giỏ</th>
                </tr>
                </thead>
            </table>
        </div>
        <form id="room_1">
            <table class="table">
                <tbody>
                    <tr class="room" *ngFor="let food of foods">
                        <td class="room-type">
                            <a href=""><h3>{{food.name}}</h3></a>
                        </td>
                        <td class="persons">{{food.food_category.name}}<i class="fa fa-user"></i></td>
                        <td class="price">{{food.price | currency: 'VND'}}</td>
                        <td class="rooms">
                            <select class="framed" name="room_1_nights">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
                        </td>
                        <td>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-rounded">+</button>
                            </div>
                            <!--end form-group-->
                        </td>
                    </tr>
                    <!--end tr.room-->
                </tbody>
            </table>
            <!--end table-->
        </form>
        <!--edn form#room_3-->
    </div>
    <!--end form-reservations-->
</section>
