    <div id="page-content">
        <div class="container">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Listing</a></li>
                <li class="active">Detail</li>
            </ol>
            <!--end breadcrumb-->
            <div class="row">
                <app-searching></app-searching>
                <!--end col-md-3-->
                <div class="col-md-9 col-sm-8">
                    <div class="quick-navigation" data-fixed-after-touch="">
                        <div class="wrapper">
                            <ul>
                                <li><a href="#description" class="scroll">Mô tả</a></li>
                                <li><a href="#map" class="scroll">Bản đồ</a></li>
                                <li><a href="#food-menu" class="scroll">Thực đơn</a></li>
                                <li><a href="#additional-information" class="scroll">Album ảnh</a>({{place.total_images}})</li>
                                <li><a href="#reviews" class="scroll">Reviews</a>({{place.total_comments}})</li>
                            </ul>
                        </div>
                    </div>
                    <div class="main-content">
                        <div class="title">
                            <div class="left">
                                <h1>{{place.name}}<span class="rating"><i class="fa fa-star"></i>{{place.rating_average}}</span></h1>
                                <h3><a href="#">{{place.address}}</a> (63 properties)</h3>
                            </div>
                            <div class="right">
                                <a href="#map" class="icon scroll"><i class="fa fa-map-marker"></i>See on the map</a>
                                <a href="#availability" class="btn btn-primary btn-rounded scroll">Reserve Today</a>
                            </div>
                        </div>
                        <!--end title-->
                        <section id="gallery">
                            <div class="gallery-detail">
                                <div class="ribbon"><div class="offer-number">20%</div><figure>Off Today!</figure></div>
                                <div class="one-item-carousel">
                                    <div class="image">
                                        <a href="#reviews" class="review scroll">
                                            <div class="rating">
                                                <div class="rating-title">
                                                    <figure class="rating">9.8</figure>
                                                    <h4>Very Good Hotel</h4>
                                                </div>
                                                <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod. Suspendisse
                                                    at dui sit amet felis commodo dictum. Class aptent taciti sociosqu ad litora
                                                    torquent per conubia nostra, per inceptos
                                                </p>
                                            </div>
                                        </a>
                                        <img src="{{place.image_url || placeImage}}" alt="">
                                    </div>
                                    <div class="image">
                                        <a href="#reviews" class="review scroll">
                                            <div class="rating">
                                                <div class="rating-title">
                                                    <figure class="rating">{{place.rating_average}}</figure>
                                                    <h4>Beautiful Holiday</h4>
                                                </div>
                                                <p>Class aptent taciti sociosqu ad litora
                                                    torquent per conubia nostra, per inceptos
                                                </p>
                                            </div>
                                        </a>
                                        <img src="assets/img/items/02_b.jpg" alt="">
                                    </div>
                                    <div class="image">
                                        <a href="#reviews" class="review scroll">
                                            <div class="rating">
                                                <div class="rating-title">
                                                    <figure class="rating">9.8</figure>
                                                    <h4>Very Good Hotel</h4>
                                                </div>
                                                <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod. Suspendisse
                                                    at dui sit amet felis commodo dictum. Class aptent taciti sociosqu ad litora
                                                    torquent per conubia nostra, per inceptos
                                                </p>
                                            </div>
                                        </a>
                                        <img src="assets/img/items/03_b.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </section>
                        <h2>Mô tả địa điểm</h2>
                        <div class="row">
                            <div class="col-md-8">
                                <section id="description">
                                    <h3>{{place.name}}</h3>
                                    <p>
                                      {{place.descriptions}}
                                    </p>
                                </section>
                                <section id="map">
                                    <h2>Bản đồ</h2><p>({{place.address}})</p>
                                    <div id="map-item" class="map height-300 box"></div>
                                    <!--end map-->
                                </section>
                            </div>
                            <!--end col-md-8-->
                            <div class="col-md-4">
                                <div class="sidebar">
                                    <aside class="box">
                                        <dl>
                                            <dt>Khoảng gía:</dt>
                                            <dd>{{place.price_range}}</dd>
                                            <dt>Giờ mở cửa:</dt>
                                            <dd>{{place.open_time | date: "HH:mm"}} - {{place.close_time | date: "HH:mm"}}</dd>
                                            <dt>Apartments:</dt>
                                            <dd>12</dd>
                                            <dt>Parking:</dt>
                                            <dd>Free</dd>
                                            <dt>Swimming:</dt>
                                            <dd>Yes</dd>
                                            <dt>Ski Center:</dt>
                                            <dd>2km</dd>
                                        </dl>
                                    </aside>
                                    <aside>
                                        <h2>Liên hệ đặt món trực tiếp</h2>
                                        <address>
                                            <strong>{{place.name}}</strong><br>
                                            {{place.addres}}<br>
                                            <br>
                                            +1 (734) 123-4567<br>
                                            <a href="#">hello@example.com</a><br>
                                            <strong>skype:</strong> your.company
                                        </address>
                                    </aside>
                                </div>
                                <!--end sidebar-->
                            </div>
                            <!--end col-md-4-->
                        </div>
                        <!--end row-->
                        <div *ngIf="foods">
                            <app-foods [foods]="foods"></app-foods>
                        </div>

                        <section id="additional-information">
                            <h2>Additional Information</h2>
                            <dl class="info">
                                <dt>Check-in:</dt>
                                <dd>14:00 - 00:00</dd>
                                <dt>Check-out:</dt>
                                <dd><strong>Late Check-out: until 12:00 </strong></dd>
                                <dt>Cancellation:</dt>
                                <dd>Cancellation and prepayment policies vary according to room type.</dd>
                                <dt>Children:</dt>
                                <dd>All children are welcome.</dd>
                                <dt>Pets:</dt>
                                <dd>Pets are not allowed</dd>
                            </dl>
                            <!--end info-->
                        </section>
                        <app-reviews [place]="place"></app-reviews>
                    </div>
                    <!--end main-content-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end container-->
    </div>
    <!--end page-content-->

