<section id="reviews">
    <div class="title">
        <h2 class="pull-left">Đánh gía</h2>
        <a href="#write-a-review" class="btn btn-primary btn-rounded pull-right scroll">Viết đánh gía</a>
    </div>
    <h3>Tổng điểm</h3>
    <ul class="rating-score">
        <li class="overall"><i class="fa fa-star"></i>{{place.rating_average}}</li>
        <li><span></span>
            <figure>Vị trí</figure>
        </li>
        <li><span>10</span>
            <figure>Không gian</figure>
        </li>
        <li><span>9.4</span>
            <figure>Chất lượng</figure>
        </li>
        <li><span>9.8</span>
            <figure>Gía cả</figure>
        </li>
        <li><span>10</span>
            <figure>Phục vụ</figure>
        </li>
    </ul>
    <div class="reviews">
        <div class="review">
            <div class="row">
                <div class="col-md-3">
                    <aside class="name">John Doe</aside>
                    <aside class="date">10.03.2015</aside>
                </div>
                <!--end col-md-3-->
                <div class="col-md-9">
                    <div class="comment">
                        <div class="comment-title">
                            <figure class="rating">9.5</figure>
                            <h4>Beautiful Holiday</h4>
                        </div>
                        <!--end title-->
                        <p>Consectetur adipiscing elit. Vivamus nec augue ac dui sodales euismod.
                            Suspendisse at dui sit amet felis commodo dictum. Class aptent taciti
                            sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            Integer commodo eleifend erat, vitae tincidunt urna volutpat et.
                            Mauris laoreet, sem ut sodales sodales, massa turpis posuere lectus, non
                            aliquet massa nisl ac orci.
                        </p>
                        <div class="clearfix options">
                            <span class="pull-left"><a href="" class="btn btn-framed btn-default btn-rounded btn-small icon"><i class="fa fa-thumbs-up font-color-default"></i>3</a>Helpful Review?</span>
                            <span class="pull-right"><a href="" class="link icon font-color-grey"><i class="fa fa-flag"></i>Report</a></span>
                        </div>
                        <!--end options-->
                        <div class="answer">
                            <h4>James Green, CEO of the Mountain Paradise Hotel</h4>
                            <p>Phasellus venenatis vel orci et lacinia. Duis sollicitudin arcu et hendrerit
                                tempor. Aliquam at urna fringilla, auctor tellus eget, vehicula lorem.
                                Pellentesque ornare faucibus sapien eget max
                            </p>
                        </div>
                        <!--end answer-->
                    </div>
                    <!--end comment-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end review-->
        <div class="review">
            <div class="row">
                <div class="col-md-3">
                    <aside class="name">Peter Green</aside>
                    <aside class="date">10.03.2015</aside>
                </div>
                <!--end col-md-3-->
                <div class="col-md-9">
                    <div class="comment">
                        <div class="comment-title">
                            <figure class="rating">{{place.rating_average}}</figure>
                            <h4>Very Good Hotel</h4>
                        </div>
                        <!--end title-->
                        <p>In eleifend odio vel augue mattis, et pharetra dolor ullamcorper. Nulla
                            ut porttitor mauris. Sed tincidunt, urna non cursus suscipit, quam velit
                            laoreet libero, sit amet tincidunt ex nunc eget eros.
                        </p>
                        <div class="clearfix options">
                            <span class="pull-left"><a href="" class="btn btn-framed btn-default btn-rounded btn-small icon"><i class="fa fa-thumbs-up font-color-default"></i>10</a>Helpful Review?</span>
                            <span class="pull-right"><a href="" class="link icon font-color-grey"><i class="fa fa-flag"></i>Report</a></span>
                        </div>
                        <!--end options-->
                    </div>
                    <!--end comment-->
                </div>
                <!--end col-md-9-->
            </div>
            <!--end row-->
        </div>
        <!--end review-->
    </div>
    <!--end reviews-->
</section>
<section id="write-a-review">
    <h2>Write a Review</h2>
    <form  class="labels-uppercase clearfix" id="form_reply_1">
        <div class="alert alert-dark fade in center" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" data-switch="#review-write">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="sr-only">Error:</span>
            <a href="#tab-sign-in" data-toggle="modal" data-tab="true" data-target="#sign-in-register-modal">Please Sign in to write a review</a>
        </div>
        <div class="review write switch" id="review-write">
            <aside class="name">John Doe</aside>
            <div class="comment">
                <div class="row">
                    <div class="col-md-8">
                        <div class="comment-title">
                            <h4>Review Your Stay</h4>
                        </div>
                        <!--end title-->
                        <div class="form-group">
                            <label for="form_reply_1-name">Title of your review<em>*</em></label>
                            <input type="text" class="form-control" id="form_reply_1-name" name="name" placeholder="Beautiful holiday!" required="">
                        </div>
                        <div class="form-group">
                            <label for="form_reply_1-message">Your Answer<em>*</em></label>
                            <textarea class="form-control" id="form_reply_1-message" rows="8" name="answer" required="" placeholder="Describe your stay"></textarea>
                        </div>
                        <!--end form-group-->
                        <div class="form-group pull-right">
                            <button type="submit" class="btn btn-primary btn-rounded">Send Review</button>
                        </div>
                        <!--end form-group-->
                    </div>
                    <!--end col-md-8-->
                    <div class="col-md-4">
                        <div class="comment-title">
                            <h4>Rating</h4>
                        </div>
                        <!--end title-->
                        <dl class="visitor-rating">
                            <dt>Cleanliness</dt>
                            <dd class="star-rating active" data-name="cleanliness"></dd>
                            <dt>Comfort</dt>
                            <dd class="star-rating active" data-name="comfort"></dd>
                            <dt>Location</dt>
                            <dd class="star-rating active" data-name="location"></dd>
                            <dt>Facilities</dt>
                            <dd class="star-rating active" data-name="facilities"></dd>
                            <dt>Staff</dt>
                            <dd class="star-rating active" data-name="staff"></dd>
                            <dt>Value for money</dt>
                            <dd class="star-rating active" data-name="value"></dd>
                        </dl>
                    </div>
                    <!--end col-md-4-->
                </div>
                <!--end row-->
            </div>
            <!--end comment-->
        </div>
        <!--end review-->
    </form>
    <!--end form-->
</section>
